'use strict'

const BumblebeeTransformer = use('Bumblebee/Transformer')

/**
 * {{ className }} class
 *
 * @class {{ className }}
 * @constructor
 */
class {{ className }} extends BumblebeeTransformer {
  /**
   * This method is used to transform the data.
   */
  transform (model) {
    return {
     // add your transformation object here
    }
  }
}

module.exports = {{ className }}
